#bar, #bar-transparent, .bar-background {
	position: fixed;

	width: 100%;
	height: 48px;

	top: 0px;
	left: 0px;
	right: 0px;

	margin-top: 0px;
	padding-top: 4px;

	text-align: center;
}

#bar, #bar-transparent {
	z-index: 90;
}

#bar, .bar-background {
	background: rgba(11,164,185,0.96);

	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
	-moz-box-shadow:	0px 0px 4px 0px rgba(0,0,0,0.4);
	box-shadow:			0px 0px 4px 0px rgba(0,0,0,0.4);
}

.bar-background {
	z-index: 88;
	display: none;
}

#bar-content {
	display: inline-block;

	width: 1066px;
	height: 48px;

	margin: 0px;

	text-align: left;
}

/* Sección 1: Logo y tabs */

#bar-section-tabs {
	z-index: 99;

	position: absolute;
	display: inline-block;

	width: 500px;
	height: 48px;
}

/* Logo: 163x40 */
#bar-logo, #bar-logo-solo, #bar-logo-inv {
	position: absolute;

	height: 40px;
	margin-left: 2px;
}

#bar-logo {
	display: inline-block;
}

#bar-logo-solo, #bar-logo-inv {
	display: none;
}

#bar-tab-container, #bar-tab-container-icon {
	position: absolute;

	height: 48px;

	margin-left: 178px;
}

#bar-tab-container {
	display: inline-block;
}

#bar-tab-container-icon {
	display: none;
}

.bar-tab-element1, .bar-tab-text1 {
	width: 86px;
}

.bar-tab-element2, .bar-tab-text2 {
	width: 96px;
}

.bar-tab-element3, .bar-tab-text3 {
	width: 96px;
}

.bar-tab-element {
	display: inline-block;

	text-align: center;

	height: 48px;

	font-family: FiraSansLight;
	font-size: 20px;
	color: rgba(248,248,248,1);

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bar-tab-text {
	position: absolute;

	margin-top: 9px;
}

.bar-tab-select, .bar-tab-select-icon  {
	height: 4px;
	width: 100%;

	background: rgba(248,248,248,1);
}

.bar-tab-select {
	margin-top: 44px;
}

.bar-tab-select-icon {
	margin-top: 3px;
}

.bar-tab-icon {
	width: 46px;
}

.bar-tab-icon-img {
	position: relative;
	display: inline-block;
	width: 32px;
	margin-top: 4px;
}

/* Sección 2: Cuenta de suario */

.bar-section-user {
	position: absolute;
	display: inline-block;

	height: 40px;
	width: 1066px;

	text-align: right;
}

#bar-section-user1 {
	z-index: 94;
}

#bar-section-user2 {
	z-index: 92;
}

.bar-user-img {
	display: inline-block;

	width: 40px;
	height: 40px;

	margin-right: 19px;

	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 1px solid #f8f8f8;

	/*background-image: url('../img/user_image_example.jpg');*/
	background-color: rgba(50,50,50,1);

	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#bar-user-arrow {
	display: inline-block;
	width: 8px;
	height: 8px;

	margin-top: 18px;
	margin-right: 5px;
}

#bar-user-name-container {
	z-index: 92;

	display: inline-block;
	position: absolute;

	width: 1066px;

	text-align: right;

	/*background: rgba(248,40,40,0.3);*/
}

#bar-user-name {
	display: inline-block;

	margin-top: 10px;
	margin-right: 72px;

	font-family: FiraSansLight;
	font-size: 17px;
	color: rgba(248,248,248,1);
}

#bar-user-show {
	z-index: 99;

	display: inline-block;
	position: absolute;

	height: 44px;
	width: 400px;
	
	margin-top: 0px;
	margin-left: 666px;

	cursor: pointer;
}

/* Menú de usuario */

#user-menu {
	z-index: 99;
	position: fixed;

	display: none;

	width: 140px;
	height: auto;

	top: 50px;
	right: 3px;

	padding-top: 6px;
	padding-bottom: 6px;

	background: rgba(9,162,183,0.95);

	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border: 0px solid #000000;

	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
}

.user-menu-element {
	widows: 100%;
	height: 28px;

	margin-top: 1px;
	margin-bottom: 1px;

	text-align: left;

	font-family: FiraSansBook;
	font-size: 16px;
	color: rgba(248,248,248,1);

	cursor: pointer;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user-menu-element-sel {
	position: absolute;
	
	width: 100%;
	height: 28px;

	display: none;
	background: rgba(5,150,170,1);
}

.user-menu-element-text {
	margin-top: 4px;
	padding-left: 20px;
}

#user-menu-arrow {
	z-index: 99;

	position: fixed;

	top: 42px;
	right: 30px;
}