<!DOCTYPE html>
<html lang="es">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Toc&Talk!</title>
		<meta name="application-name" content="Toc&Talk!"/>

		<!-- Icons -->
		<link rel="icon" type="image/png" href="desktop/shared/img/icons/favicon.png" />
		<link href="desktop/shared/img/icons/tocandtalk-ios.png" rel="apple-touch-icon" />
		<link href="desktop/shared/img/icons/tocandtalk-ios-76x76.png" rel="apple-touch-icon" sizes="76x76" />
		<link href="desktop/shared/img/icons/tocandtalk-ios-120x120.png" rel="apple-touch-icon" sizes="120x120" />
		<link href="desktop/shared/img/icons/tocandtalk-ios-152x152.png" rel="apple-touch-icon" sizes="152x152" />
		<link href="desktop/shared/img/icons/tocandtalk-ios-180x180.png" rel="apple-touch-icon" sizes="180x180" />
		<link href="desktop/shared/img/icons/tocandtalk-android-192x192.png" rel="icon" sizes="192x192" />
		<link href="desktop/shared/img/icons/tocandtalk-android-128x128.png" rel="icon" sizes="128x128" />

		<script> var req = <%- JSON.stringify(req) %>; </script>
		<script> var errors = <%- JSON.stringify(errors) %>; </script>

		<!-- CSS -->
		<link rel="stylesheet" href="desktop/shared/css/fonts.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/shared/css/general.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/shared/css/bar.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/login/css/login.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/login/css/cover.css" type="text/css"/>

		<!-- LIBS -->
		<script src="desktop/shared/js/jquery/jquery.min.js"></script>

		<!-- STRINGS -->
		<script src="strings/es/login.js"></script>

		<!-- JS -->

		<script src="desktop/shared/js/cover.js" type="text/javascript"></script>
		<script src="desktop/login/js/bar.js" type="text/javascript"></script>
		<script src="desktop/shared/js/bar_window.js" type="text/javascript"></script>
		<script src="desktop/login/js/window.js" type="text/javascript"></script>

		<script src="desktop/login/js/login.js" type="text/javascript"></script>
		<script src="desktop/login/js/functions.js" type="text/javascript"></script>
		<script src="desktop/login/js/load.js" type="text/javascript"></script>
		<script src="desktop/login/js/events.js" type="text/javascript"></script>
	</head> 

	<body>
		<!-- Barra superior -->
		<div class="bar-background"></div>
		<div id="bar-transparent">
			<div id="bar-content">
				<div id="bar-section-tabs">
					<a href="/" title="">
						<image src="desktop/shared/img/tocandtalk-logo.png" id="bar-logo-inv"></image>
					</a>
				</div>
				<div id="bar-section-user1" class="bar-section-user">
					<a href="/register">
						<div class="button-bar">
							<div class="str str_button_register"></div>
						</div>
					</a>
     			</div>
			</div>
		</div>

		<div id="login-cont">
    	<div id="login">
    		<div class="titulo">
    			<t2><div class="str str_title_login"></div></t2>
    		</div>

    		<form id="form_login" name="form_login" class="formulario" action="/login" method="post">

    			<div>
					<!-- Nombre de usuario / email -->
					<input
						id="i_username"
						name="i_username"
						type="text"

						required="required"
						autocomplete="on"
						maxlength="100"
						minlength="2"
						pattern="[a-zA-Z0-9.@]+"

						class="inputTxt"
						oninvalid="invalidInput()">
				</div>

				<div>
					<!-- Contraseña -->
					<input
						id="i_password"
						name="i_password"
						type="password"
						
						required="required"
						autocomplete="off"
						maxlength="25"

						pattern="[a-zA-Z0-9]+"
						required=""
						oninvalid="invalidInput()"
						class="inputTxt">
				</div>

				<!-- Errores -->
				<div id="error_user" class="error-login">
					<image src="desktop/shared/img/error.png" class="img-error"></image>
					<str class="str str_error_1"></str>
				</div>
				<div id="error-casillas" class="error-login">
					<image src="desktop/shared/img/error.png" class="img-error"></image>
					<str class="str str_error_2"></str>
				</div>
				<!--
				<div id="error_username" class="error-login">
					<image src="desktop/shared/img/error.png" class="img-error">
					Nombre de usuario incorrecto.
				</div>

				<div id="error_email" class="error-login">
					<image src="desktop/shared/img/error.png" class="img-error">
					La dirección de correo electrónico no está asociada a Toc&Talk!.
				</div>

				<div id="error_password" class="error-login">
					<image src="desktop/shared/img/error.png" class="img-error">
					Contraseña incorrecta.
				</div>
				-->
				<input type="submit" id="button_login" class="boton-ingresar">
    		</form>

    		<t3><div class="str str_login_1"></div></t3>
    		<div>
    			<a href="/register">
    				<div class="str str_button_register leLink"></div>
    			</a>
    		</div>
    	</div>
    	</div>

    	<!-- Portada -->
    	<div id="portada-fondo"></div>
    	<div id="portada-nubes"></div>

    	<div id="portada">
    		<div id="portada-contenido">
    			<image src="desktop/login/img/tocandtalk-logo-2016.png" id="portada-logo"></image>
    			<br>
	    	</div>
	    	<image src="desktop/shared/img/mundo_aviones.png" id="aviones"></image>
    		<image src="desktop/shared/img/mundo.svg" id="mundo"></image>
    	</div>
	</body>
</html>
