.error-msg {
	display: none; /* Mensaje oculto */

	width: 458px;

	padding-left: 12px;
	padding-right: 8px;
	margin-bottom: 4px;
	
	font-size: 13px;
	font-family: FiraSansBook;
	color: #ff1744;
}

.error-l {
	text-align: left;
}

.error-c {
	text-align: center;
	margin-top: 5px;
}

.img-error {
	width: 10px;
	margin-right: 5px;
}

.error-msg-visible {
	display: inline;
}