<!DOCTYPE html>
<html>
	<header>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Toc&Talk!</title>
		<meta name="application-name" content="Toc&Talk!"/>

		<!-- Icons -->
		<link rel="icon" type="image/png" href="desktop/shared/img/icons/favicon.png" />
		<link href="desktop/shared/img/icons/tocandtalk-ios.png" rel="apple-touch-icon" />
		<link href="desktop/shared/img/icons/tocandtalk-ios-76x76.png" rel="apple-touch-icon" sizes="76x76" />
		<link href="desktop/shared/img/icons/tocandtalk-ios-120x120.png" rel="apple-touch-icon" sizes="120x120" />
		<link href="desktop/shared/img/icons/tocandtalk-ios-152x152.png" rel="apple-touch-icon" sizes="152x152" />
		<link href="desktop/shared/img/icons/tocandtalk-ios-180x180.png" rel="apple-touch-icon" sizes="180x180" />
		<link href="desktop/shared/img/icons/tocandtalk-android-192x192.png" rel="icon" sizes="192x192" />
		<link href="desktop/shared/img/icons/tocandtalk-android-128x128.png" rel="icon" sizes="128x128" />

		<script type="text/javascript">
      var callerId = <%- JSON.stringify(username) %> ;
      var host_name = <%- JSON.stringify(host_name) %> ;
      var server_ip = <%- JSON.stringify(server_ip) %> ;
      var protocol = <%- JSON.stringify(protocol) %> ;
      var server_ports = <%- JSON.stringify(server_ports) %> ;
      var secure = <%- JSON.stringify(secure) %> ;
		</script>
        
		<!-- CSS -->
		<link rel="stylesheet" href="desktop/shared/css/fonts.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/shared/css/general.css" type="text/css"/>
		
		<link rel="stylesheet" href="desktop/talk/css/talk.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/talk/css/video.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/talk/css/panel.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/talk/css/buttons.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/talk/css/buttons_dialog.css" type="text/css"/>

		<!-- LIBS -->
		<script src="desktop/shared/js/jquery/jquery.min.js"></script>
		<script src="desktop/shared/js/react/react.min.js"></script>

		<script src="node_modules/webrtc-adapter-test/adapter.js"></script>
		<script data-source="desktop/talk/js/googbase_min.js" data-version="3" data-exports-type="googbase" type="text/javascript" src="desktop/talk/js/googbase_min.js"></script>
		<script data-source="desktop/talk/js/gwd_webcomponents_min.js" data-version="4" data-exports-type="gwd_webcomponents" type="text/javascript" src="desktop/talk/js/gwd_webcomponents_min.js"></script>
		<script data-source="desktop/talk/js/gwdvideo_min.js" data-version="5" data-exports-type="gwd-video" type="text/javascript" src="desktop/talk/js/gwdvideo_min.js"></script>


    <script src="peer.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="shared/js/references.js"></script>
    <script src="shared/js/callbacks.js"></script>
    <script src="shared/js/functions.js"></script>
    <script src="shared/js/main.js"></script>

		<!-- STRINGS -->
		<script src="strings/es/shared.js"></script>
		<script src="strings/es/talk.js"></script>

		<!-- JS -->
		<script src="desktop/shared/js/functions.js"></script>
		<script src="desktop/talk/js/buttons_dialog.js"></script>
        <script src="desktop/talk/js/window.js"></script>

		<script src="desktop/shared/js/load.js"></script>
	</header>

	<body>
		<!-- Video Remoto -->
		<video is="gwd-video" id="remote-video" sources="" autoplay=""></video>
		<!-- Video Local -->
		<video is="gwd-video" id="local-video" muted="" sources="" autoplay=""></video>
		<div id="video_s"></div>
		<!-- Logo -->
		<image src="desktop/talk/img/tocandtalk_logo.png" id="logo_black"></image>

		<!-- Botones -->
		<div id="buttons_container_above">
			<a href="/" title="Salir">
				<div id="button_exit">
					<image src="desktop/talk/img/button_exit.svg" id="b_icon_exit"></image>
				</div>
			</a>
		</div>

		<div id="buttons_container_below">
			<div id="b_dialog_container">
				<div id="b_dialog_vol" class="b_dialog">
					<bt>Volumen</bt>
				</div>

				<div id="b_dialog_fullscr" class="b_dialog">
					<bt>Pantalla completa</bt>
				</div>

				<div id="b_dialog_mic" class="b_dialog">
					<bt>Deshabilitar Micrófono</bt>
				</div>

				<div id="b_dialog_video" class="b_dialog">
					<bt>Deshabilitar Webcam</bt>
				</div>

				<div id="b_dialog_next" class="b_dialog">
					<bt>Siguiente usuario</bt>
				</div>
			</div>
			<br>
			<div id="controls_bar">
				<!-- Volumen -->
				<image src="desktop/talk/img/button_volume_up.svg" id="b_icon_vol" class="control_icon ic01"></image>
				
				<!-- Pantalla completa -->
				<image src="desktop/talk/img/button_full_screen.svg" id="b_icon_fullscr" class="control_icon ic02"></image>
				
				<div id="control_sep"></div>

				<!-- Micrófono -->
				<image src="desktop/talk/img/button_mic.svg" id="b_icon_mic" class="control_icon ic03"></image>
				
				<!-- Video -->
				<image src="desktop/talk/img/button_videocam.svg" id="b_icon_video" class="control_icon ic04"></image>
			</div>
			<div id="button_next">
				<!-- <image src="desktop/talk/img/button_next.svg" id="b_icon_next" class="control_icon"></image> -->
				<input id="search" type="image" src="desktop/talk/img/button_next.svg" class="control_icon">
			</div>
		</div>

		<!-- Panel de Mensajes y Perfil -->
        <div id="panel">
            <div class="gwd-div-1ldv w3-container" style="color:white;">
                <p id="user">User</p>
            </div>
            
            <div class="gwd-div-ml19 w3-container" id="messages"></div>
            <input class="gwd-div-1hor" id="message-entry" type="text" autocomplete="off">
            <button class="gwd-div-xlqe" id="send-message">Send</button>
        </div>

	</body>
</html>