#profile-content {
	z-index: 10;

	position: relative;
	display: inline-block;
	
	width: 1066px;

	margin-top: 72px;

	text-align: left;

	/*background: rgba(1,1,1,0.1);*/
}

#profile-section1, #profile-section2 {
	
	display: inline-block;

	width: 530px;
	height: auto;

	left: 0px;

	text-align: left;

	/*background: rgba(1,1,1,0.2);*/
}

#profile-section1 {
	position: relative;
}

#profile-section2 {
	position: absolute;
	margin-left: 536px;
}

.profile-card {
	display: block;

	/* Width 530px */
	width: auto;
	height: auto;

	margin-bottom: 16px;
	margin-left: 5px;
	margin-right: 5px;

	background: rgba(230,230,230,1);

	border-radius: 			2px 2px 2px 2px;
	-moz-border-radius: 	2px 2px 2px 2px;
	-webkit-border-radius:	2px 2px 2px 2px;
	border: 0px solid #000000;

	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 	0px 0px 2px 0px rgba(0,0,0,0.35);
	box-shadow: 		0px 0px 2px 0px rgba(0,0,0,0.35);
}

/* Hasta aquí copy-paste de home.css */

/* Idiomas */

.lang-title {
	position: relative;
	
	font-family: FiraSansLight;
	font-size: 22px;
	color: rgba(70,70,70,1);

	margin-top: 20px;
	margin-bottom: 5px;
}

.lang-title, .lang-edit-button {
	margin-left: 20px;
	margin-right: 20px;
}

.lang-list {
	position: relative;

	margin-left: 60px;
	margin-top: 0px;
	margin-right: 20px;

	font-family: FiraSansBook;
	font-size: 17px;
	color: rgba(70,70,70,1);
}

.lang-edit-button {
	position: relative;
	text-align: right;
	margin-bottom: 20px;
}

#str-button-add-lang-int {
	display: none;
}

.lang-empity {
	display: none;
	text-align: center;
	margin-right: 40px;
	color: rgba(150,150,150,1);
}

#str-lang-interest-list {
	display: inline;
}

.add-lang {
	display: block;

	margin-left: 50px;
	margin-top: 22px;
	margin-right: 50px;

	padding: 10px;

	font-family: FiraSansBook;
	font-size: 17px;
	color: rgba(70,70,70,1);

	background: rgba(220,220,220,1);

	border-radius: 			2px 2px 2px 2px;
	-moz-border-radius: 	2px 2px 2px 2px;
	-webkit-border-radius:	2px 2px 2px 2px;
	border: 0px solid #000000;
}

.subitem-lang, .subitem-lang-button, .subitem-separator {
	display: inline-block;
}

.subitem-lang-button {
	position: relative;

	width: auto;
	height: auto;

	padding: 1px 2px 1px 2px;
	margin-left: 10px;

	text-decoration: none;
	font-family: FiraSansBook;
	font-size: 12px;

	text-align: center;

    background: none;
    color: #f44336;

	border-radius:			3px 3px 3px 3px;
	-moz-border-radius:		3px 3px 3px 3px;
	-webkit-border-radius:	3px 3px 3px 3px;
	border: 1px solid #f44336;

	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;

	outline:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

.subitem-lang-button:hover, .subitem-lang-button:focus {
	background: #f44336;
	
	color: rgba(255,255,255,1);

	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.subitem-lang-button:active {
	background: #f44336;
	
	color: rgba(255,255,255,1);

	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;

	-webkit-box-shadow: 0px 0px 6px 0px #f44336;
	-moz-box-shadow: 0px 0px 6px 0px #f44336;
	box-shadow: 0px 0px 6px 0px #f44336;
}

.item-lang {
	height: 36px;
}

.button-add-lang {
	position: relative;
	display: inline;

	width: auto;
	height: 35px;

	padding: 4px 8px 4px 8px;

	text-decoration: none;
	font-family: FiraSansBook;
	font-size: 14px;

	text-align: center;

	color: rgba(255,255,255,1);
	background: #ff9800;

	border-radius:			150px 150px 150px 150px;
	-moz-border-radius:		150px 150px 150px 150px;
	-webkit-border-radius:	150px 150px 150px 150px;
	border: 0px solid #000000;

	-o-transition:.7s;
	-ms-transition:.7s;
	-moz-transition:.7s;
	-webkit-transition:.7s;
	transition:.7s;

	outline:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

.button-add-lang:hover, .button-add-lang:focus {
	background: #f57c00;
	
	color: rgba(255,255,255,1);

	-webkit-box-shadow: 0px 0px 6px 0px #f57c00;
	-moz-box-shadow: 0px 0px 6px 0px #f57c00;
	box-shadow: 0px 0px 6px 0px #f57c00;

	-o-transition:.7s;
	-ms-transition:.7s;
	-moz-transition:.7s;
	-webkit-transition:.7s;
	transition:.7s;
}

.button-add-lang:active {
	background: #e65100;
	color: rgba(255,255,255,1);

	-webkit-box-shadow: 0px 0px 9px 0px #e65100;
	-moz-box-shadow: 0px 0px 9px 0px #e65100;
	box-shadow: 0px 0px 9px 0px #e65100;

	border: 0px solid #000000;
}