<!DOCTYPE html>
<html>
	<header>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Toc&Talk!</title>
		<meta name="application-name" content="Toc&Talk!"/>

		<!-- Icons -->
		<link rel="icon" type="image/png" href="desktop/shared/img/icons/favicon.png" />
		<link href="desktop/shared/img/icons/tocandtalk-ios.png" rel="apple-touch-icon" />
		<link href="desktop/shared/img/icons/tocandtalk-ios-76x76.png" rel="apple-touch-icon" sizes="76x76" />
		<link href="desktop/shared/img/icons/tocandtalk-ios-120x120.png" rel="apple-touch-icon" sizes="120x120" />
		<link href="desktop/shared/img/icons/tocandtalk-ios-152x152.png" rel="apple-touch-icon" sizes="152x152" />
		<link href="desktop/shared/img/icons/tocandtalk-ios-180x180.png" rel="apple-touch-icon" sizes="180x180" />
		<link href="desktop/shared/img/icons/tocandtalk-android-192x192.png" rel="icon" sizes="192x192" />
		<link href="desktop/shared/img/icons/tocandtalk-android-128x128.png" rel="icon" sizes="128x128" />

		<!-- JS -->
		<script>
			var languages = <%- JSON.stringify(languages) %>;
			var user = <%- JSON.stringify(user) %>;
			var req = <%- JSON.stringify(req) %>;
			var errors = <%- JSON.stringify(errors) %>;
		</script>
		<script src="desktop/shared/js/jquery/jquery.min.js"></script>

		<script src="strings/es/shared.js"></script>
		<script src="strings/es/home/index.js"></script>
		<script src="desktop/shared/js/session.js"></script>
		<script src="desktop/shared/js/bar_user_image.js"></script>
		<script src="desktop/shared/js/bar_window.js"></script>

		<script src="desktop/shared/js/bar_tab2.js"></script>
		<script src="desktop/shared/js/bar_tab3.js"></script>
		<script src="desktop/shared/js/user_menu_items.js"></script>
		<script src="desktop/shared/js/user_menu.js"></script>

		<script src="desktop/home/js/button_start.js"></script>
		<script src="desktop/home/js/window.js"></script>

		<script src="desktop/home/js/load.js"></script>
		<!-- CSS -->
		<link rel="stylesheet" href="desktop/shared/css/fonts.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/shared/css/general.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/shared/css/bar.css" type="text/css"/>

		<link rel="stylesheet" href="desktop/home/css/bar.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/home/css/home.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/home/css/inputs.css" type="text/css"/>

	</header>

	<body>
		<!-- Barra superior -->
		<div id="bar">
			<div id="bar_content">
				<div id="bar_section_tabs">
					<!-- Logo -->
					<a href="/" title="">
						<image src="desktop/shared/img/tocandtalk-logo.png" id="bar_logo"></image>
						<image src="desktop/shared/img/tocandtalk_logo_solo.png" id="bar_logo_solo"></image>
					</a>

					<!-- Tabs -->
					<div id="bar_tab_container">
						<div id="bar_tab1" class="bar_tab_element bar_tab_element1">
							<div class="str_tab1 bar_tab_text bar_tab_text1"></div>
							<div id="bar_tab_select1" class="bar_tab_select"></div>
						</div>
						<a href="/friends" title="">
							<div id="bar_tab2" class="bar_tab_element bar_tab_element2">
								<div class="str_tab2 bar_tab_text bar_tab_text2"></div>
								<div id="bar_tab_select2" class="bar_tab_select"></div>
							</div>
						</a>
						<a href="/profile" title="">
							<div id="bar_tab3" class="bar_tab_element bar_tab_element3">
								<div class="str_tab3 bar_tab_text bar_tab_text3"></div>
								<div id="bar_tab_select3" class="bar_tab_select"></div>
							</div>
						</a>
					</div>

					<div id="bar_tab_container_icon">
						<div id="bar_tab1_icon" class="bar_tab_element bar_tab_icon">
							<image src="desktop/shared/img/bar_icon_home.png" class="bar_tab_icon_img"></image>
							<div id="bar_tab_select1_icon" class="bar_tab_select_icon"></div>
						</div>
						<a href="/friends" title="">
							<div id="bar_tab2_icon" class="bar_tab_element bar_tab_icon">
								<image src="desktop/shared/img/bar_icon_friends.png" class="bar_tab_icon_img"></image>
								<div id="bar_tab_select2_icon" class="bar_tab_select_icon"></div>
							</div>
						</a>
						<a href="/profile" title="">
							<div id="bar_tab3_icon" class="bar_tab_element bar_tab_icon">
								<image src="desktop/shared/img/bar_icon_profile.png" class="bar_tab_icon_img"></image>
								<div id="bar_tab_select3_icon" class="bar_tab_select_icon"></div>
							</div>
						</a>
					</div>
				</div>

				<!-- Sección de usuario -->
				<div id="bar_section_user1" class="bar_section_user">
					
					<div class="bar_user_img"></div>
				</div>
				<div id="bar_section_user2" class="bar_section_user">
					<image src="desktop/shared/img/bar_arrow.png" id="bar_user_arrow"></image>
				</div>
				<div id="bar_user_name_container">
					<div id="bar_user_name" class="str"></div>

					<!--
					<div id="bar_user_name" class="str str_name_user_example"></div>
					-->
				</div>
				<div id="bar_user_show"></div>
			</div>
		</div>

		<!-- Menú de usuario -->

		<div id="user_menu">
			<image src="desktop/shared/img/user_menu_arrow.png" id="user_menu_arrow"></image>
			<div class="user_menu_element" id="user_menu_element1">
				<div class="user_menu_element_sel" id="user_menu_element_sel1"></div>
				<div class="str str_menu_item1 user_menu_element_text"></div>
				
			</div>
			<div class="user_menu_element" id="user_menu_element2">
				<div class="user_menu_element_sel" id="user_menu_element_sel2"></div>
				<div class="str str_menu_item2 user_menu_element_text"></div>
				
			</div>
			<a href="logout" title="">
				<div class="user_menu_element" id="user_menu_element3">
					<div class="user_menu_element_sel" id="user_menu_element_sel3"></div>
					<div class="str str_menu_item3 user_menu_element_text"></div>
				</div>
			</a>
			</div>
		</div>

		<!-- Contenido -->

		<form class="" action="/talk" onsubmit="" method="get">
			<div id="home_content">

				<div id="home_section1">
					<div class="button_start">
						<input type="image" src="desktop/home/img/tocandtalk_start.png" id="button_start_img">
					</div>
					<br>
					<input type="submit" class="str str_talk_start" id="str_talk_start">
					
				</div>

				<div id="home_section2">
					<div class="home_card" style="margin-top: 20px;">
						<div class="str card_welcome_title" id="str_welcome_title"></div>
						<br>
						<div class="str card_welcome_desc" id="str_welcome_desc"></div>
						
					</div>
					<div class="home_card">
						<div class="str card_lang_select_title" id="str_lang_select_title"></div>
						<br>

						<select
							id="s_languages"
							name="s_languages"
							class="input_lang"
							required="">
							<option value="EN">Inglés</option>
							<option value="PR">Portugués</option>
						</select>
					</div>
				</div>

			</div>
		</form>





	</body>
</html>