<!DOCTYPE html>
<html ng-app="project">
	<header>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Toc&Talk!</title>
		<meta name="application-name" content="Toc&Talk!"/>

		<!-- Icons -->
		<link rel="icon" type="image/png" href="desktop/shared/img/icons/favicon.png" />
		<link href="desktop/shared/img/icons/tocandtalk-ios.png" rel="apple-touch-icon" />
		<link href="desktop/shared/img/icons/tocandtalk-ios-76x76.png" rel="apple-touch-icon" sizes="76x76" />
		<link href="desktop/shared/img/icons/tocandtalk-ios-120x120.png" rel="apple-touch-icon" sizes="120x120" />
		<link href="desktop/shared/img/icons/tocandtalk-ios-152x152.png" rel="apple-touch-icon" sizes="152x152" />
		<link href="desktop/shared/img/icons/tocandtalk-ios-180x180.png" rel="apple-touch-icon" sizes="180x180" />
		<link href="desktop/shared/img/icons/tocandtalk-android-192x192.png" rel="icon" sizes="192x192" />
		<link href="desktop/shared/img/icons/tocandtalk-android-128x128.png" rel="icon" sizes="128x128" />

		<script>
			var languages = <%- JSON.stringify(languages) %>;
			var countries = <%- JSON.stringify(countries) %>;
			var user = <%- JSON.stringify(user) %>;
			var req = <%- JSON.stringify(req) %>;
			var errors = <%- JSON.stringify(errors) %>;
		</script>
    	
    	<!-- LIBS -->
    	<script src="desktop/shared/js/jquery/jquery.min.js"></script>
		<script src="desktop/shared/js/background-blur/background-blur.min.js"></script>

		<!-- CSS -->
		<link rel="stylesheet" href="desktop/shared/css/fonts.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/shared/css/general.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/shared/css/bar.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/profile/css/bar.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/profile/css/profile.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/profile/css/user.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/profile/css/inputs.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/profile/css/edit_profile.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/profile/css/edit.css" type="text/css"/>

		<!-- Strings -->
		<script src="strings/es/shared.js"></script>
		<script src="strings/es/profile.js"></script>

		<!-- JS -->
		<script src="desktop/shared/js/functions.js"></script>
    	
		<script src="desktop/shared/js/bar_user_image.js"></script>
		<script src="desktop/shared/js/bar_tab1.js"></script>
		<script src="desktop/shared/js/bar_tab2.js"></script>
		<script src="desktop/shared/js/user_menu_items.js"></script>
		<script src="desktop/shared/js/user_menu.js"></script>

		<script src="desktop/profile/js/edit_profile.js"></script>
		<script src="desktop/profile/js/data.js"></script>
		<script src="desktop/profile/js/user_image.js"></script>
		<script src="desktop/shared/js/load.js"></script>
		<script src="desktop/profile/js/load.js"></script>

		<script src="desktop/shared/js/bar_window.js"></script>
		<script src="desktop/profile/js/window.js"></script>

	</header>

	<body>
		<!-- Barra superior -->
		<div id="bar">
			<div id="bar_content">
				<div id="bar_section_tabs">
					<!-- Logo -->
					<a href="/" title="">
						<image src="desktop/shared/img/tocandtalk-logo.png" id="bar_logo"></image>
						<image src="desktop/shared/img/tocandtalk_logo_solo.png" id="bar_logo_solo"></image>
					</a>

					<!-- Tabs -->
					<div id="bar_tab_container">
						<a href="/" title="">
							<div id="bar_tab1" class="bar_tab_element bar_tab_element1">
								<div class="str_tab1 bar_tab_text bar_tab_text1"></div>
								<div id="bar_tab_select1" class="bar_tab_select"></div>
							</div>
						</a>
						<a href="/friends" title="">
							<div id="bar_tab2" class="bar_tab_element bar_tab_element2">
								<div class="str_tab2 bar_tab_text bar_tab_text2"></div>
								<div id="bar_tab_select2" class="bar_tab_select"></div>
							</div>
						</a>
						<div id="bar_tab3" class="bar_tab_element bar_tab_element3">
							<div class="str_tab3 bar_tab_text bar_tab_text3"></div>
							<div id="bar_tab_select3" class="bar_tab_select"></div>
						</div>
					</div>

					<div id="bar_tab_container_icon">
						<a href="/" title="">
							<div id="bar_tab1_icon" class="bar_tab_element bar_tab_icon">
								<image src="desktop/shared/img/bar_icon_home.png" class="bar_tab_icon_img"></image>
								<div id="bar_tab_select1_icon" class="bar_tab_select_icon"></div>
							</div>
						</a>
						<a href="/friends" title="">
							<div id="bar_tab2_icon" class="bar_tab_element bar_tab_icon">
								<image src="desktop/shared/img/bar_icon_friends.png" class="bar_tab_icon_img"></image>
								<div id="bar_tab_select2_icon" class="bar_tab_select_icon"></div>
							</div>
						</a>
						
						<div id="bar_tab3_icon" class="bar_tab_element bar_tab_icon">
							<image src="desktop/shared/img/bar_icon_profile.png" class="bar_tab_icon_img"></image>
							<div id="bar_tab_select3_icon" class="bar_tab_select_icon"></div>
						</div>
					</div>
				</div>

				<!-- Sección de usuario -->
				<div id="bar_section_user1" class="bar_section_user">
					
					<div class="bar_user_img"></div>
				</div>
				<div id="bar_section_user2" class="bar_section_user">
					<image src="desktop/shared/img/bar_arrow.png" id="bar_user_arrow"></image>
				</div>
				<div id="bar_user_name_container">
					<div id="bar_user_name" class="str str_name_user"></div>
				</div>
				<div id="bar_user_show"></div>
			</div>
		</div>

		<!-- Menú de usuario -->

		<div id="user_menu">
			<image src="desktop/shared/img/user_menu_arrow.png" id="user_menu_arrow"></image>
			<div class="user_menu_element" id="user_menu_element1">
				<div class="user_menu_element_sel" id="user_menu_element_sel1"></div>
				<div class="str str_menu_item1 user_menu_element_text"></div>
				
			</div>
			<div class="user_menu_element" id="user_menu_element2">
				<div class="user_menu_element_sel" id="user_menu_element_sel2"></div>
				<div class="str str_menu_item2 user_menu_element_text"></div>
				
			</div>
			<a href="logout" title="">
				<div class="user_menu_element" id="user_menu_element3">
					<div class="user_menu_element_sel" id="user_menu_element_sel3"></div>
					<div class="str str_menu_item3 user_menu_element_text"></div>
				</div>
			</a>
			</div>
		</div>

		<!-- Contenido -->

		<div id="profile_content">

			<div id="profile_section2">
		
				<!-- Idiomas que hablo -->
				<div id="card_spoken_lang" class="profile_card" style="overflow: hidden;">

					<!--
						Lista de idiomas que hablo
					-->
					<div id="c_spoken_languages">
						
						<div class="lang_title">
							<div class="str str_lang_spoken_title"></div>
						</div>
						<br>

						<div class="lang_list">
							<div class="str str_lang_native"></div> (<div class="str str_lang_native_title"></div>)
							<div class="str" id="str_lang_spoken_list"></div>
						</div>
						<br>

						<div class="lang_edit_button">
							<div id="b_edit_spoken_lang" class="button_edit">
								<div class="str str_button_edit_lang"></div>
							</div>
						</div>

					</div>

					<!--
						Editar idiomas que hablo
					-->
					<div id="c_spoken_languages_edit">
						<div class="lang_title">
							<div class="str str_edit_lang_spoken_title"></div>
						</div>
						<br>
						
						<div class="save_cancel_container lang_buttons">
							<div id="b_cancel_spoken_lang" class="button_cancel">
								<div class="str str_button_cancel"></div>
							</div>
							<div id="b_save_spoken_lang" class="button_save str_button_save_lang"></div>
						</div>

					</div>
				</div>

				<!-- Idiomas que me interesan -->
				<div id="card_interest_lang" class="profile_card" style="overflow: hidden;">

					<!--
						Lista de idiomas que me interesan
					-->
					<div id="c_interest_languages">
						
						<div class="lang_title">
							<div class="str str_lang_interest_title"></div>
						</div>
						<br>

						<div class="lang_list">
							<div class="lang_empity">
								<i><div class="str str_lang_list_empity"></div></i>
							</div>
							<div class="str str_lang_list"></div>
						</div>
						<br>

						<div class="lang_edit_button">
							<div id="b_edit_interest_lang" class="button_edit">
								<div class="str str_button_cancel_lang" id="str_button_edit_lang_int"></div>
								<div class="str str_button_add_lang" id="str_button_add_lang_int"></div>
							</div>
						</div>

					</div>

					<!--
						Editar idiomas que me interesan
					-->
					<div id="c_interest_languages_edit">
						<div class="lang_title">
							<div class="str str_edit_lang_interest_title"></div>
						</div>

						<div class="save_cancel_container lang_buttons">
							<div id="b_cancel_interest_lang" class="button_cancel">
								<div class="str str_button_cancel"></div>
							</div>
							<div id="b_save_interest_lang" class="button_save str_button_save_lang"></div>
						</div>
					</div>
				</div>
			</div>

			<div id="profile_section1">

				<!-- Perfil -->
				<div class="profile_card" style="padding-bottom: 20px;">

					<div id="usr_image_container">
						<div class="usr_image_background_back"></div>
						<div id="usr_image_background" class="usr_image_background"></div>
						<div class="usr_image_background_opacity"></div>

						<div id="img_section2">
							<div class="str_name_user_complete name_user"></div>
						</div>

						<div id="img_section1">
							<div class="usr_image"></div>
						</div>
					</div>
					<br>

					<div id="usr_content">

						<div id="usr_loc_container">

							<!--
								Mostrar Ubicación
							-->
							<div id="c_location">
								<div id="usr_loc_section3">
									<div id="b_edit_location" class="button_edit">
										<div class="str str_button_edit"></div>
									</div>
								</div>

								<div id="usr_loc_section2">
									<div class="str str_profile_country"></div>
								</div>

								<div id="usr_loc_section1">
									<div class="str str_loc_title"></div>:
								</div>
							</div>

							<!--
								Editar Ubicación
							-->
							<div id="c_location_edit">
								<form action="/profile/edit_user_nationality" method="post">
									<div id="edit_location_sel">
										<select
											id="s_country"
											name="s_country"
											required=""
											class="input_sel_contry">
											<option value="" disabled="" selected="" hidden=""></option>
										</select>
									</div>

									<div class="str str_location_edit_title"></div>:

									<div class="save_cancel_container">
										<div id="b_cancel_location" class="button_cancel">
											<div class="str str_button_cancel"></div>
										</div>
										<input type="submit" id="b_save_location" class="button_save str_button_save">
									</div>
								</form>
							</div>
						</div>
						<br>

						<div id="usr_desc_container">

							<!--
								Mostrar Descripción
							-->
							<div id="c_description">
								
								<div id="usr_desc_section3">
									<div id="b_edit_description" class="button_edit">
										<div class="str str_button_edit"></div>
									</div>
								</div>

								<div id="usr_desc_section1">
									<div class="str str_desc_title"></div>:
								</div>

								<div id="usr_desc_section2">
									<div class="str usr_desc_text str_desc_content"></div>
								</div>

							</div>

							<!--
								Editar Descripción
							-->
							<div id="c_description_edit">
								<div class="str str_desc_edit_title"></div>:

								<form action="/profile/edit_user_description" method="post">
									<textarea width="430" id="input_edit_desc" name="input_edit_desc" class="input_desc"></textarea>

									<div class="save_cancel_container">
										<div id="b_cancel_description" class="button_cancel">
											<div class="str str_button_cancel"></div>
										</div>
										<input type="submit" id="b_save_description" class="button_save str_button_save">
									</div>
								</form>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

	</body>
</html>