<!DOCTYPE html>
<html>
	<header>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Toc&Talk!</title>
		<meta name="application-name" content="Toc&Talk!"/>

		<!-- Icons -->
		<link rel="icon" type="image/png" href="desktop/shared/img/icons/favicon.png" />
		<link href="desktop/shared/img/icons/tocandtalk-ios.png" rel="apple-touch-icon" />
		<link href="desktop/shared/img/icons/tocandtalk-ios-76x76.png" rel="apple-touch-icon" sizes="76x76" />
		<link href="desktop/shared/img/icons/tocandtalk-ios-120x120.png" rel="apple-touch-icon" sizes="120x120" />
		<link href="desktop/shared/img/icons/tocandtalk-ios-152x152.png" rel="apple-touch-icon" sizes="152x152" />
		<link href="desktop/shared/img/icons/tocandtalk-ios-180x180.png" rel="apple-touch-icon" sizes="180x180" />
		<link href="desktop/shared/img/icons/tocandtalk-android-192x192.png" rel="icon" sizes="192x192" />
		<link href="desktop/shared/img/icons/tocandtalk-android-128x128.png" rel="icon" sizes="128x128" />

		<script>
			var languages = <%- JSON.stringify(languages) %>;
			var user = <%- JSON.stringify(user) %>;
			var req = <%- JSON.stringify(req) %>;
			var errors = <%- JSON.stringify(errors) %>;
		</script>

		<!-- LIBS -->
		<script src="desktop/shared/js/jquery/jquery.min.js"></script>
		
		<!-- CSS -->
		<link rel="stylesheet" href="desktop/shared/css/fonts.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/shared/css/general.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/shared/css/bar.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/home/css/bar.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/home/css/home.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/home/css/inputs.css" type="text/css"/>

		<!-- STRINGS -->
		<script src="strings/es/shared.js"></script>
		<script src="strings/es/home.js"></script>

		<!-- JS -->
		<script src="desktop/shared/js/functions.js"></script>

		<script src="desktop/shared/js/bar_user_image.js"></script>
		<script src="desktop/shared/js/bar-tab2.js"></script>
		<script src="desktop/shared/js/bar-tab3.js"></script>
		<script src="desktop/shared/js/user-menu_items.js"></script>
		<script src="desktop/shared/js/user-menu.js"></script>

		<script src="desktop/home/js/button-start.js"></script>

		<script src="desktop/shared/js/load.js"></script>
		<script src="desktop/home/js/load.js"></script>

		<script src="desktop/shared/js/bar_window.js"></script>
		<script src="desktop/home/js/window.js"></script>
	</header>

	<body>
		<!-- Barra superior -->
		<div id="bar">
			<div id="bar-content">
				<div id="bar-section-tabs">
					<!-- Logo -->
					<a href="/" title="">
						<image src="desktop/shared/img/tocandtalk-logo.png" id="bar-logo"></image>
						<image src="desktop/shared/img/tocandtalk_logo_solo.png" id="bar-logo-solo"></image>
					</a>

					<!-- Tabs -->
					<div id="bar-tab-container">
						<div id="bar-tab1" class="bar-tab-element bar-tab-element1">
							<div class="str_tab1 bar-tab-text bar-tab-text1"></div>
							<div id="bar-tab-select1" class="bar-tab-select"></div>
						</div>
						<a href="/friends" title="">
							<div id="bar-tab2" class="bar-tab-element bar-tab-element2">
								<div class="str_tab2 bar-tab-text bar-tab-text2"></div>
								<div id="bar-tab-select2" class="bar-tab-select"></div>
							</div>
						</a>
						<a href="/profile" title="">
							<div id="bar-tab3" class="bar-tab-element bar-tab-element3">
								<div class="str_tab3 bar-tab-text bar-tab-text3"></div>
								<div id="bar-tab-select3" class="bar-tab-select"></div>
							</div>
						</a>
					</div>

					<div id="bar-tab-container-icon">
						<div id="bar-tab1-icon" class="bar-tab-element bar-tab-icon">
							<image src="desktop/shared/img/bar_icon_home.png" class="bar-tab-icon-img"></image>
							<div id="bar-tab-select1-icon" class="bar-tab-select-icon"></div>
						</div>
						<a href="/friends" title="">
							<div id="bar-tab2-icon" class="bar-tab-element bar-tab-icon">
								<image src="desktop/shared/img/bar_icon_friends.png" class="bar-tab-icon-img"></image>
								<div id="bar-tab-select2-icon" class="bar-tab-select-icon"></div>
							</div>
						</a>
						<a href="/profile" title="">
							<div id="bar-tab3-icon" class="bar-tab-element bar-tab-icon">
								<image src="desktop/shared/img/bar_icon_profile.png" class="bar-tab-icon-img"></image>
								<div id="bar-tab-select3-icon" class="bar-tab-select-icon"></div>
							</div>
						</a>
					</div>
				</div>

				<!-- Sección de usuario -->
				<div id="bar-section-user1" class="bar-section-user">
					
					<div class="bar-user-img"></div>
				</div>
				<div id="bar-section-user2" class="bar-section-user">
					<image src="desktop/shared/img/bar_arrow.png" id="bar-user-arrow"></image>
				</div>
				<div id="bar-user-name-container">
					<div id="bar-user-name" class="str str_name-user"></div>
				</div>
				<div id="bar-user-show"></div>
			</div>
		</div>

		<!-- Menú de usuario -->

		<div id="user-menu">
			<image src="desktop/shared/img/user-menu-arrow.png" id="user-menu-arrow"></image>

			<!-- Opciones -->
			<a href="settings" title="">
				<div class="user-menu-element" id="user-menu-element1">
					<div class="user-menu-element-sel" id="user-menu-element-sel1"></div>
					<div class="str str_menu_item1 user-menu-element-text"></div>
				</div>
			</a>

			<!-- Ayuda -->
			<div class="user-menu-element" id="user-menu-element2">
				<div class="user-menu-element-sel" id="user-menu-element-sel2"></div>
				<div class="str str_menu_item2 user-menu-element-text"></div>
				
			</div>

			<!-- Cerrar sesión -->
			<a href="logout" title="">
				<div class="user-menu-element" id="user-menu-element3">
					<div class="user-menu-element-sel" id="user-menu-element-sel3"></div>
					<div class="str str_menu_item3 user-menu-element-text"></div>
				</div>
			</a>
		</div>

		<!-- Contenido -->

		<form class="" action="/talk" onsubmit="" method="post">
			<div id="home-content">

				<div id="home-section1">
					<div class="button-start">
						<input type="image" src="desktop/home/img/tocandtalk_start.png" id="button-start_img">
					</div>
					<br>
					<input type="submit" class="str str-talk-start" id="str-talk-start">
					
				</div>

				<div id="home-section2">
					<div class="home-card" style="margin-top: 20px;">
						<div class="str card-welcome-title" id="str-welcome-title"></div>
						<br>
						<div class="str card-welcome-desc" id="str-welcome-desc"></div>
						
					</div>
					<div class="home-card">
						<div class="str card-lang-select-title" id="str-lang-select-title"></div>
						<br>

						<select
							id="s_languages"
							name="s_languages"
							class="input-lang"
							required="">
							<option value="" disabled="" selected="" hidden="">Selecciona un idioma</option>
						</select>
					</div>
				</div>

			</div>
		</form>





	</body>
</html>