#home_content {
	z-index: 10;

	position: relative;
	display: inline-block;
	
	width: 1066px;

	margin-top: 64px;

	text-align: left;

	/* background: rgba(1,1,1,0.1); */

}

#home_section1, #home_section2 {
	
	display: inline-block;

	width: 530px;

	left: 0px;

	/* background: rgba(1,1,1,0.2); */
}

#home_section1 {
	position: relative;

	text-align: center;
}

#home_section2 {
	position: absolute;
	margin-left: 536px;
}

.home_card {
	display: block;

	/* Width 530px */
	width: auto;

	margin-bottom: 10px;
	margin-left: 4px;
	margin-right: 10px;

	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 24px;
	padding-right: 20px;

	background: rgba(230,230,230,1);

	border-radius: 			2px 2px 2px 2px;
	-moz-border-radius: 	2px 2px 2px 2px;
	-webkit-border-radius:	2px 2px 2px 2px;
	border: 0px solid #000000;

	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 	0px 0px 2px 0px rgba(0,0,0,0.35);
	box-shadow: 		0px 0px 2px 0px rgba(0,0,0,0.35);
}

.card_welcome_title {
	margin-bottom: 12px;

	font-family: FiraSansThin;
	font-size: 32px;
	color: rgba(70,70,70,1);
}

.card_welcome_desc {
	font-family: FiraSansLight;
	font-size: 16px;
	color: rgba(70,70,70,1);
}

.card_lang_select_title {
	margin-bottom: 12px;

	font-family: FiraSansLight;
	font-size: 20px;
	color: rgba(70,70,70,1);
}
