.save_cancel_container {
	text-align: right;
}

#edit_location_sel {
	position: absolute;
	width: 450px;

	text-align: right;
}

.str_location_edit_title {
	margin-bottom: 22px;
}

.lang_buttons {
	margin: 20px;
}