<!DOCTYPE html>
<html lang="es" ng-app="tocandtalk">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
		<title>Toc&Talk!</title>
		<meta name="application-name" content="Toc&Talk!"></meta>

		<!-- SERVER VARIABLES -->

		<!-- ICONS -->
		
		<link href="desktop/shared/assets/img/icons/favicon.png" rel="icon" type="image/png"></link>
		<link href="desktop/shared/assets/img/icons/tocandtalk-ios.png" rel="apple-touch-icon"></link>
		<link href="desktop/shared/assets/img/icons/tocandtalk-ios-76x76.png" rel="apple-touch-icon" sizes="76x76"></link>
		<link href="desktop/shared/assets/img/icons/tocandtalk-ios-120x120.png" rel="apple-touch-icon" sizes="120x120"></link>
		<link href="desktop/shared/assets/img/icons/tocandtalk-ios-152x152.png" rel="apple-touch-icon" sizes="152x152"></link>
		<link href="desktop/shared/assets/img/icons/tocandtalk-ios-180x180.png" rel="apple-touch-icon" sizes="180x180"></link>
		<link href="desktop/shared/assets/img/icons/tocandtalk-android-192x192.png" rel="icon" sizes="192x192"></link>
		<link href="desktop/shared/assets/img/icons/tocandtalk-android-128x128.png" rel="icon" sizes="128x128"></link>

		<!-- CSS -->
		<link href="desktop/shared/assets/css/fonts.css" rel="stylesheet" type="text/css"></link>
		<link href="desktop/shared/assets/css/general.css" rel="stylesheet" type="text/css"></link>
		<link href="desktop/shared/assets/css/bar.css" rel="stylesheet" type="text/css"></link>
		<link href="desktop/login/assets/css/login.css" rel="stylesheet" type="text/css"></link>
		<link href="desktop/login/assets/css/cover.css" rel="stylesheet" type="text/css"></link>
		<!-- LIBS -->
		<script src="desktop/shared/assets/js/libs/angularjs/angular.min.js"></script>
		<script src="desktop/shared/assets/js/libs/jquery/jquery.min.js"></script>

		<!-- STRINGS -->
		<!-- <script src="strings/es/login.js"></script> -->

		<!-- JS -->
		<script src="desktop/shared/assets/js/frontend/cover.js" type="text/javascript"></script>
		<script src="desktop/shared/assets/js/frontend/bar-window.js" type="text/javascript"></script>
		<script src="desktop/login/assets/js/frontend/bar.js" type="text/javascript"></script>
		<script src="desktop/login/assets/js/frontend/window.js" type="text/javascript"></script>

		<!-- AngularJS -->
		<script src="desktop/login/assets/js/backend/references.js" type="text/javascript"></script>
		<script src="desktop/login/assets/js/backend/app.js" type="text/javascript"></script>
		<script src="desktop/login/assets/js/backend/routes.js" type="text/javascript"></script>
		<script src="desktop/login/assets/js/backend/services.js" type="text/javascript"></script>
		<script src="desktop/login/assets/js/backend/controllers.js" type="text/javascript"></script>
		<script src="desktop/login/assets/js/backend/directives.js" type="text/javascript"></script>
	</head>
	<body ng-controller="body">
		<!-- Barra superior -->
		<div class="bar-background"></div>
		<div id="bar-transparent">
			<div id="bar-content">
				<div id="bar-section-tabs">
					<a href="/" title="">
						<image src="desktop/shared/assets/img/tocandtalk-logo.png" id="bar-logo-inv"></image>
					</a>
				</div>
				<div id="bar-section-user1" class="bar-section-user">
					<a href="/register">
						<div class="button-bar">
							<div class="str">{{body.lang.bRegister}}</div>
						</div>
					</a>
					<select > 
						<option value="oli">oli</option>
						<option ng-repeat="oli"value="oli">oli</option>
						<option value="oli">oli</option>

					</select>
     			</div>
			</div>
		</div>

		<div id="login-cont">
    	<div id="login">
    		<div class="titulo">
    			<t2><div class="str">{{body.lang.loginTitle}}</div></t2>
    		</div>

    		<form ng-controller="form" id="fLogin" name="fLogin" class="formulario" ng-submit="form.onSubmit()">

    			<div>
					<!-- Nombre de usuario / email -->
					<input
						ng-model="form.iUsername"
						id="iUsername"
						name="iUsername"

						type="text"

						placeholder="{{body.lang.iUsernamePH}}"
						required="required"
						autocomplete="on"
						maxlength="100"
						minlength="2"
						pattern="[a-zA-Z0-9.@]+"
						class="inputTxt"
						oninvalid="invalidInput()">
				</div>

				<div>
					<!-- Contraseña -->
					<input
						ng-model="form.iPassword"
						id="iPassword"
						name="iPassword"
						type="password"
						
						placeholder="{{body.lang.iPasswordPH}}"
						required="required"
						autocomplete="off"
						maxlength="25"

						pattern="[a-zA-Z0-9]+"
						required=""
						oninvalid="invalidInput()"
						class="inputTxt">
				</div>

				<!-- Errores -->
				<div id="eUser" class="error-login">
					<image src="desktop/shared/assets/img/error.png" class="img-error"></image>
					<str class="str">{{body.lang.eAuth}}</str>
				</div>
				<!--
				<div id="error_username" class="error-login">
					<image src="desktop/shared/assets/img/error.png" class="img-error">
					Nombre de usuario incorrecto.
				</div>

				<div id="error_email" class="error-login">
					<image src="desktop/shared/assets/img/error.png" class="img-error">
					La dirección de correo electrónico no está asociada a Toc&Talk!.
				</div>

				<div id="error_password" class="error-login">
					<image src="desktop/shared/assets/img/error.png" class="img-error">
					Contraseña incorrecta.
				</div>
				-->
				<input type="submit" id="bLogin" class="boton-ingresar" value="{{body.lang.bLogin}}">
    		</form>
			
    		<div>
    			<a href="/register">
    				<div class="str leLink">{{body.lang.bRegister}}</div>
    			</a>
    		</div>
    	</div>
    	</div>
    	
    	<!-- Portada -->
    	<div id="portada-fondo"></div>
    	<div id="portada-nubes"></div>

    	<div id="portada">
    		<div id="portada-contenido">
    			<image src="desktop/login/assets/img/tocandtalk-logo-2016.png" id="portada-logo"></image>
    			<br>
	    	</div>
	    	<image src="desktop/shared/assets/img/mundo-aviones.png" id="aviones"></image>
    		<image src="desktop/shared/assets/img/mundo.svg" id="mundo"></image>
    	</div>
	</body>
</html>