<!DOCTYPE html>
<html lang="es">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Toc&Talk!</title>
		<link rel="icon" type="image/png" href="desktop/shared/img/favicon.png" />

		<!-- CSS -->
		<link rel="stylesheet" href="desktop/shared/css/fonts.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/shared/css/general.css" type="text/css"/>
		<link rel="stylesheet" href="desktop/shared/css/barra-noinicio.css" type="text/css"/>

		<link rel="stylesheet" href="desktop/login/css/login.css" type="text/css"/>

		<!-- JS -->
		<script src="desktop/shared/js/jquery/jquery.min.js"></script>
		<script src="desktop/shared/js/background-blur/background-blur.min.js"></script>
		<script src="desktop/shared/js/velocity/velocity.min.js"></script>
		<script src="desktop/shared/js/velocity/velocity.ui.min.js"></script>
		<script src="desktop/login/js/login.js" type="text/javascript"></script>
		<script> var errors = <%- JSON.stringify(errors) %>; </script>
		<script src="desktop/login/js/error_handling.js" type="text/javascript"></script>
	</head> 

	<body>
		<div id="barra-superior">
     		<image src="desktop/shared/img/tocandtalk-logo.png" id="img-logo">
    	</div>

    	<div id="login">
    		<div class="titulo">
    			<t2>Ingresar</t2>
    		</div>

    		<form class="formulario" action="/login" onsubmit="return validateForm()"method="post">

    			<div>
					<!-- Nombre de usuario / email -->
					<input
						id="i_username"
						name="i_username"
						type="text"
						placeholder="Nombre de usuario o Email"

						required="required"
						autocomplete="on"
						maxlength="100"
						minlength="2"
						pattern="[a-zA-Z0-9.@]+"

						class="inputTxt"
						oninvalid="invalidInput()">
				</div>

				<div>
					<!-- Contraseña -->
					<input
						id="i_password"
						name="i_password"
						type="password"
						placeholder="Contraseña"
						
						required="required"
						autocomplete="off"
						maxlength="25"

						pattern="[a-zA-Z0-9]+"
						required=""
						oninvalid="invalidInput()"
						class="inputTxt">
				</div>

				<!-- Errores -->
				<div id="error_user" class="error-login">
					<image src="desktop/shared/img/error.png" class="img-error">
					Nombre de usuario incorrecto y/o contraseña incorrecta.
				</div>
				<div id="error_casillas" class="error-login">
					<image src="desktop/shared/img/error.png" class="img-error">
					Las casillas no son iguales
				</div>
				<!--
				<div id="error_username" class="error-login">
					<image src="desktop/shared/img/error.png" class="img-error">
					Nombre de usuario incorrecto.
				</div>

				<div id="error_email" class="error-login">
					<image src="desktop/shared/img/error.png" class="img-error">
					La dirección de correo electrónico no está asociada a Toc&Talk!.
				</div>

				<div id="error_password" class="error-login">
					<image src="desktop/shared/img/error.png" class="img-error">
					Contraseña incorrecta.
				</div>
				-->
				<input type="submit" value="Ingresar" class="boton-ingresar">
    		</form>

    		<t3>¿No tienes una cuenta?</t3>
    		<div class="leLink"><a href="/register">Regístrate</a></div>
    	</div>

	</body>
</html>
