#load_screen {
    z-index: 91;
    position: fixed;
    
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    
    text-align: center;
    
    background: rgba(11,165,185,1);
}

#load_logo {
    position: relative;
    
    width: 460px;
    
    margin-top: 140px;
    margin-bottom: 40px;
}

#world {
    position: relative;
    width: 1230px;
    overflow: hidden;
}

#world_container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    margin-top: 100%;
}

txtl {
    font-family: FiraSansThin;
    font-size: 26px;
    color: rgba(244,244,244,1);
}

.load_point {
    position: relative;
    display: inline-block;
    font-family: FiraSansLight;
}

#load_button_exit {
    z-index: 99px;
	position: absolute;

	width: 30px;
	height: 30px;

	right: 16px;
    top: 16px;

	text-align: left;
    
    background: rgba(244,244,244,1);
    border: 0px solid #ffffff;

	border-radius:         200px 200px 200px 200px;
	-moz-border-radius:    200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	
	cursor: pointer;
}

#load_b_icon_exit {
	position: absolute;
	display: inline-block;

	width: 20px;
	height: 20px;

	margin: 5px;
}

#load_video_l {
    z-index: 96;
    position: fixed;
    width: 100%;
    
    top: 62px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    
    background: none;
}