<!DOCTYPE html>
<html lang="es" ng-app="tocandtalk">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Toc&Talk!</title>
		<meta name="application-name" content="Toc&Talk!"/>

		<!-- SERVER VARIABLES -->

		<!-- ICONS -->
		<link href="desktop/shared/assets/img/icons/favicon.png" rel="icon" type="image/png"></link>
		<link href="desktop/shared/assets/img/icons/tocandtalk-ios.png" rel="apple-touch-icon"></link>
		<link href="desktop/shared/assets/img/icons/tocandtalk-ios-76x76.png" rel="apple-touch-icon" sizes="76x76"></link>
		<link href="desktop/shared/assets/img/icons/tocandtalk-ios-120x120.png" rel="apple-touch-icon" sizes="120x120"></link>
		<link href="desktop/shared/assets/img/icons/tocandtalk-ios-152x152.png" rel="apple-touch-icon" sizes="152x152"></link>
		<link href="desktop/shared/assets/img/icons/tocandtalk-ios-180x180.png" rel="apple-touch-icon" sizes="180x180"></link>
		<link href="desktop/shared/assets/img/icons/tocandtalk-android-192x192.png" rel="icon" sizes="192x192"></link>
		<link href="desktop/shared/assets/img/icons/tocandtalk-android-128x128.png" rel="icon" sizes="128x128"></link>

		<!-- LIBS -->
		<script src="desktop/shared/assets/js/libs/angularjs/angular.min.js"></script>
		<script src="desktop/shared/assets/js/libs/jquery/jquery.min.js"></script>

		<!-- CSS -->
		<link rel="stylesheet" href="desktop/shared/assets/css/fonts.css" type="text/css"></link>
		<link rel="stylesheet" href="desktop/shared/assets/css/general.css" type="text/css"></link>
		<link rel="stylesheet" href="desktop/shared/assets/css/bar.css" type="text/css"></link>

		<link rel="stylesheet" href="desktop/register/assets/css/error-form.css" type="text/css"></link>
		<link rel="stylesheet" href="desktop/register/assets/css/register.css" type="text/css"></link>
		<link rel="stylesheet" href="desktop/register/assets/css/inputs.css" type="text/css"></link>
		<link rel="stylesheet" href="desktop/register/assets/css/buttons.css" type="text/css"></link>
		<link rel="stylesheet" href="desktop/register/assets/css/info.css" type="text/css"></link>
		<link rel="stylesheet" href="desktop/register/assets/css/cover.css" type="text/css"></link>

		<!-- STRINGS -->
		<script src="strings/es/shared.js"></script>

		<!--<script src="strings/es/register.js"></script>-->

		<!-- JS -->
		<script src="desktop/shared/assets/js/frontend/cover.js" type="text/javascript"></script>
		<script src="desktop/shared/assets/js/frontend/bar-window.js" type="text/javascript"></script>
		<script src="desktop/register/assets/js/frontend/info.js" type="text/javascript"></script>
		<script src="desktop/register/assets/js/frontend/bar.js" type="text/javascript"></script>

		<!-- AngularJS -->
		<script src="desktop/register/assets/js/backend/references.js" type="text/javascript"></script>
		<script src="desktop/register/assets/js/backend/app.js" type="text/javascript"></script>
		<script src="desktop/register/assets/js/backend/routes.js" type="text/javascript"></script>
		<script src="desktop/register/assets/js/backend/services.js" type="text/javascript"></script>
		<script src="desktop/register/assets/js/backend/controllers.js" type="text/javascript"></script>
		<script src="desktop/register/assets/js/backend/directives.js" type="text/javascript"></script>
		<script src="desktop/register/assets/js/backend/filters.js" type="text/javascript"></script>
	</head>

	<body ng-controller="body">
		<!-- Barra superior -->
		<div class="bar-background"></div>
		<div id="bar-transparent">
			<div id="bar-content">
				<div id="bar-section-tabs">
					<!-- Logo -->
					<a href="/" title="">
						<image src="desktop/shared/assets/img/tocandtalk-logo.png" id="bar-logo"></image>
					</a>
				</div>
				<div id="bar-section-user1" class="bar-section-user">
					<a href="/login">
						<div class="boton-ingresar">
							<div class="str">{{body.lang.bLogin}}</div>
						</div>
					</a>
     			</div>
			</div>
		</div>

		<!-- Portada -->
		<div id="portada-fondo"></div>
    	<div id="portada-nubes"></div>
    	<div id="portada">
	    	<image src="desktop/shared/assets/img/mundo-aviones.png" id="aviones"></image>
    		<image src="desktop/shared/assets/img/mundo.svg" id="mundo"></image>
    	</div>

    	<div id="#register-container">
		<div id="register">
			<t1><div class="str">{{body.lang.titleCreate}}</div></t1>

			<form ng-controller="form" id="fRegister" name="fRegister" class="formulario" ng-submit="form.onSubmit()">
				
				<!-- NAME -->

				<div>
					<!-- Nombre -->
					<input
						ng-model="form.iName"
						id="iName"
						name="iName"
						type="text"
						placeholder="{{body.lang.iNamePH}}"
						
						required="required"
						autocomplete="on"
						maxlength="25"

						oninvalid="invalidInput()"
						class="inputTxt inputChico">

					<!-- Apellido -->
					<input
						ng-model="form.iLastname"
						id="iLastname"
						name="iLastname"
						type="text"
						placeholder="{{body.lang.iLastnamePH}}"
						
						required="required"
						autocomplete="on"
						maxlength="25"

						oninvalid="invalidInput()"
						class="inputTxt inputChico">
				</div>

				<!-- Error Nombre/Apellido -->
				<!--
					<div id="error_name" class="error-msg error-l">
						<image src="desktop/shared/assets/img/error.png" class="img-error">

						Nombre inválido. Ingrese sólo números (0-9) o letras (a-z A-Z).
					</div>
				<div id="error-lastname" class="error-msg error-l">
					<image src="desktop/shared/assets/img/error.png" class="img-error">
					Apellido inválido. Ingrese sólo números (0-9) o letras (a-z A-Z).
				</div>
				-->
				<!-- USERNAME -->

				<div>
					<!-- Info -->
					<div class="info" id="infoUsername">
						<div class="info-content">
							<str class="str"> {{body.lang.infoUsernameStandar}}</str>
							
							<div class="text-space"></div>
							<str class="str"> {{body.lang.infoUsernameLength}}</str>
							<div class="text-space"></div>
							<str class="str"> {{body.lang.infoUsernameFormat}}</str>
							<div class="text-space"></div>
							<str class="str"> {{body.lang.infoUsernameFormatText}}</str>
						</div>
						<image src="desktop/register/assets/img/info-tip.png" class="info-tip"></image>
					</div>

					<!-- Nombre de usuario -->
					<input
						ng-model="form.iUsername"
						id="iUsername"
						name="iUsername"
						type="text"
						placeholder="{{body.lang.iUsernamePH}}"

						required="required"
						autocomplete="off"
						maxlength="25"
						minlength="2"
						pattern="[a-zA-Z0-9]+"

						class="inputTxt inputGrande"
						oninvalid="invalidInput()">
				</div>

				<!-- Error Nombre de usuario -->
				<div id="eUsernameUsernameUnique" class="error-msg error-l">
					<image src="desktop/shared/assets/img/error.png" class="img-error"></image>
					<str class="str"> {{body.lang.eUsernameUsernameUnique}}</str>
				</div>
				
				<!-- 
				<div id="eUsernameUsernameFormat" class="error-msg error-l">
					<image src="desktop/shared/assets/img/error.png" class="img-error"></image>
					
					Nombre de usuario inválidoooooooooooooooo. 
					Ingrese sólo números (0-9) o letras (a-z). 
					Mínimo 8 caracteres y máximo 25.
				</div>
				-->

				<!-- EMAIL -->

				<div>
					<!-- Info -->
					<div class="info" id="infoEmail">
						<div class="info-content">
							<str class="str"> {{body.lang.infoEmailStandar}}</str>

						<div class="text-space"></div>
							<str class="str"> {{body.lang.infoEmailFormat}}</str>
						</div>
						<image src="desktop/register/assets/img/info-tip.png" class="info-tip"></image>
					</div>

					<!-- Correo electrónico -->
					<input
						ng-model="form.iEmail"
						id="iEmail"
						name="iEmail"
						type="email"
						placeholder="{{body.lang.iEmailPH}}"

						autocomplete="on"
						maxlength="100"

						class="inputTxt inputGrande"
						required="required"
						oninvalid="invalidInput()">
				</div>

				<!-- Error Email -->
				<div id="eEmailEmailUnique" class="error-msg error-l">
					<image src="desktop/shared/assets/img/error.png" class="img-error"></image>
					<str class="str"> {{body.lang.eUsernameUsernameEmail}}</str>

					<!-- ¿Olvidó su contraseña? -->
				</div>
				<!--
				<div id="eEmailEmailFormat" class="error-msg error-l">
					<image src="desktop/shared/assets/img/error.png" class="img-error"></image>
					Dirección de correo electrónico inválida. 
				</div>
				-->
				
				<!-- PASSWORD -->

				<div>
					<!-- Info -->
					<div class="info" id="infoPassword">
						<div class="info-content">
							<str class="str"> {{body.lang.infoPasswordStandar}}</str>
							<div class="text-space"></div>
							<str class="str"> {{body.lang.infoPasswordLength}}</str>
							<div class="text-space"></div>
							<str class="str"> {{body.lang.infoPasswordFormat}}</str>

						</div>
						<image src="desktop/register/assets/img/info-tip.png" class="info-tip"></image>
					</div>

					<!-- Contraseña -->
					<input
						ng-model="form.iPassword"
						id="iPassword"
						name="iPassword"
						type="password"
						placeholder="{{body.lang.iPasswordPH}}"
						
						required="required"
						autocomplete="off"
						minlength="8"
						maxlength="25"
						pattern="[a-zA-Z0-9]+"

						oninvalid="invalidInput()"
						class="inputTxt inputGrande">
				</div>

				<!-- Error contraseña -->
				<div id="ePassword" class="error-msg">	
					<image src="desktop/shared/assets/img/error.png" class="img-error"></image>
					<!--
					Contraseña inválida. La contraseña debe poseer sólo números (0-9) o letras 
					minúsculas (a-z) o mayúsculas (A-Z), sin espacios. 
					El tamaño mínimo son 8 caracteres y el máximo 25.
					-->
				</div>

				<div>
					<!-- Confirmar contraseña -->
					<input
						ng-model="form.iPasswordConfirmation"
						id="iPasswordConfirmation"
						name="iPasswordConfirmation"
						type="password"
						placeholder="{{body.lang.iPasswordConfirmationPH}}"
						
						required="required"
						autocomplete="off"
						minlength="8"
						maxlength="25"
						pattern="[a-zA-Z0-9]+"

						oninvalid="invalidInput()"
						class="inputTxt inputGrande">
				</div>

				<!-- Error: Contraseñas no coinciden -->
				<div id="eUserPasswordConfirmation" class="error-msg error-l">
					<image src="desktop/shared/assets/img/error.png" class="img-error"></image>
					<str class="str"> {{body.lang.eUsernameUsernamePassword}}</str>
				</div>
				
				<div style="margin-top:4px;"></div>

				<!-- BIRTHDAY -->
				
				<div id="section-birthday">

					<!-- Error: Fecha errónea -->
					<div class="info" id="eDate">
						<div class="info-content">
							
							<!-- La fecha ingresada no es válida.-->
							<div class="text-space"></div>
							<!-- Reeingrese una fecha correcta. -->
						</div>
						<image src="desktop/register/assets/img/info-tip.png" class="info-tip"></image>
					</div>

					<div id="labelFecha">
						<t2><div class="str">{{body.lang.birthdayTitle}}</div></t2>
					</div>

					<!-- Cumpleaños -->
					
					<!--
					<input
						type="date" class="inputSel"
						name="date_birthday"
						min="1920-01-01"
						max="2000-01-01">
					-->
					<input
						ng-model="form.iDay"
						id="iDay"
						name="iDay"
						type="number"
						placeholder="{{body.lang.iDayPH}}"
						
						autocomplete="off"
						min="1"
						max="31"
						required=""

						class="inputTxt inputFechaDia"
						oninvalid="invalidInput()">

					<select
						ng-model="form.sMonth"
						id="sMonth"
						class="inputSel inputFechaMes"
						name="sMonth"
						required="">
						<option value="" disabled="" selected="" hidden="">Mes</option>
						<option ng-repeat="month in body.lang.months" value="{{month}}">{{month | capitalize}}</option>
					</select>

					<input
						ng-model="form.iYear"
						id="iYear"
						name="iYear"
						type="number"
						placeholder="{{body.lang.iYearPH}}"
						
						autocomplete="off"
						min="1920"
						max="2001"
						required=""

						class="inputTxt inputFechaAnno"
						oninvalid="invalidInput()">
				</div>

				<div id="eDate" class="error-msg error-c">
					<image src="desktop/shared/assets/img/error.png" class="img-error"></image>
					<!-- La fecha no es válida. -->
				</div>

				<div class="inputTxtEspacio"></div>

				<!-- SEX -->
				<div>
					<!-- Sexo -->
					<input ng-model="form.rSex" type="radio" name="rSex" value="1">
						<label for="male"><span><span></span></span>
							<t2><div class="str">{{body.lang.sexMale}}</div></t2>
						</label>
					<input ng-model="form.rSex" type="radio" name="rSex" value="0" required>
						<label for="female"><span><span></span></span>
							<t2><div class="str">{{body.lang.sexFemale}}</div></t2>
						</label>
				</div>

				<!-- Error sexo -->
				<div id="eSex" class="error-msg error-c">
					<image src="desktop/shared/assets/img/error.png" class="img-error"></image>
					<!-- Seleccione un sexo. -->
				</div>

				<div class="inputTxtEspacio"></div>

				<!-- COUNTRY -->
				<div>
					<!-- Nacionalidad -->
					<select
						ng-model="form.sCountry"
						id="sCountry"
						name="sCountry"
						required=""
						class="inputSel inputSelGrande">
						<option value="" disabled="" selected="" hidden="">{{body.lang.sCountry}}</option>
						<option ng-repeat="country in body.countries" value="{{country.code}}">{{country.name | capitalize}}</option>
					</select>
				</div>

				<!-- LANGUAGE -->

				<div>
					<!-- Idioma nativo -->
					<select
						ng-model="form.sNativeLanguage"
						id="sNativeLanguage"
						name="sNativeLanguage"
						required=""
						class="inputSel inputSelGrande">
						<option value="" disabled="" selected="" hidden="">{{body.lang.sNativeLanguage}}</option>
						<option ng-repeat="language in body.languages" value="{{language.code}}">{{language.name | capitalize}}</option>
					</select>
				</div>

				<input type="submit" value="{{body.lang.bRegister}}" class="boton-registrar"></input>
			</form>

		</div>
		</div>
	</body>
</html>
